= render partial: "header"
= render partial: "page-title", locals: { title: "Your Showroom" }

%article{class: "car-showcase clearfix"}
  - @cars.each do |car|
    = render partial: "card", locals: {car: car}

%a{href: "#", class: "add-cards"} Text goes here
